/* for Adjusting Margins and Padding     */
/* *{
    border-color: red;
    border-width: 2px;
    border-style: solid;
} */


/*general*/
 html{
    display: flex;
}  

body{
    background-color:white;
    font-family: 'futura';
    font-size: 15px;
    font-style: normal;
    letter-spacing: 5%;
    padding: 0 20px;

}



/* For Visit Original Link Btn
    .button{
        background-color: #002f6c;
        border-radius: 25px;
        color:#ffc915;
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 15px;
        padding: 15px 40px;

    }

    .button:hover{
        background-color: #265696;
        box-shadow: 0 3px #0118359a;
    }

-------------------------------*/ 

footer{
    font-size: 20px;
    margin: 0 -15px;
    padding: 8px 0 15px 0;
    text-align: center;

}

.footer-text{
    font-size: 16px;
    font-weight: normal;
  }
  

header{
    color:#002f6c;
    text-align: center;
    padding:15px;
}

h1{
    padding-bottom: 13px;
}

h2{
    
    color: #002f6c;
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    margin-left: 16px;
}

h5{
    margin-left: 24px;
}

#info-section{
    display: block;
}
 
li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top:-10px;
    padding-top: 15px;
    line-height: 20px;

}

section{
    border-color: #002f6c;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 4px 25px 8px;
 
    
}

 #img_section{
    /* display: flex; */

} 

#img_content{
    padding: 4px 25px 8px;
}


img{
    /* margin: 5px 20px; */
    padding: 25px;
    display: block;
     margin-left: auto;
    margin-right: auto;
}
 .responsive {
    width: 75%;
    height: auto;
  }


/*Extra for fun Button*/
  #OGLinkContainer_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
       display: flex;
       align-items: center;
       justify-content: center; 
    
  }
  
  #OGLinkholder_li {
    display: inline;
    padding: 40px;
    font-family: futura;
  }
  
      #OGLink_a{
          position: relative;
          padding: 10px 30px;
          margin: 45px 0;
          color: #002f6c;
          text-decoration: none;
          font-size: 20px;
          transition: 0.5s;
      }
  
      #OGLink_a::before {
          content: " ";
          position: absolute;
          top: -1px;
          left: -1px;
          width: 10px;
          height: 10px;
          border-top: 2px solid  #002f6c;
          border-left: 2px solid  #002f6c;
          transition: 0.5s;
          transition-delay: 0.5s;
      }
  
      #OGLink_a::after {
          content: " ";
          position: absolute;
          bottom: -1px;
          right: -1px;
          width: 10px;
          height: 10px;
          border-bottom: 2px solid  #242F36;
          border-right: 2px solid  #242F36;
          transition: 0.5s;
          transition-delay: 0.5s;
      }
  
      #OGLink_a:hover::before,
      #OGLink_a:hover::after {
          width: 100%;
          height: 100%;
          transition-delay: 0s;
      }
  
      #OGLink_a:hover {
          background: #002f6c;
          color: #ffc915;
          box-shadow: 0 0 30px  #242F36;
          transition-delay: 0.3s; 
      }

/*---------------------*/
/*small/medium devices*/
@media(max-width: 768px){ 
    /* .button{
       background-color: #002f6c;
       border-radius: 25px;
       color:#ffc915;
       margin-top: 15px;
       margin-bottom: 20px;
       padding: 15px 40px;
   } */
   h3{
       font-size: 18px;
   }
   h4{
    font-size: 16px;
   }
   h5{
    font-size: 14px;
   }
   li{
    font-size: 18px;
    line-height: 25px;
    }
   section{
       border-color: #002f6c;
       border-width: 3px;
       border-style: solid;
       border-radius: 10px;
       margin: 10px;
       padding: 0 16px;  
   }
   .button:active{
       background-color: #265696;
       box-shadow: 0 3px #0118359a;
   }
   #img_section{
    display: block;
}

}






