
@media screen and (max-width: 1000px){

    /* *{
        border-width: 1px;
        border-color: red;
        border-style: solid;
     } */
    html{
      display:flex;
    }
    
    body{
      display:block;
    } 
   h3{
       font-size: 18px;
   }
   h4{
    font-size: 16px;
   }
   h5{
    font-size: 14px;
   }
   li{
    font-size: 18px;
    line-height: 25px;
    }
   section{
       border-color: #002f6c;
       border-width: 3px;
       border-style: solid;
       border-radius: 10px;
       margin: 10px;
       padding: 0 16px;  
   }
  
 /*For Image Display*/
   .container {
    position: relative;
    width: auto;
    height: auto;
    cursor: default;
    }
    .responsive {
      width: 100%;
      height: auto;
    }
    
  /*Display specifics*/
  /* animation specifics*/
      /*Fade in and out animation*/
      @keyframes fade-in {
        from {opacity: 45%}
        to {opacity: 100%}
      }
      @keyframes fade-out {
        from {opacity: 100%}
        to {opacity: 0%}
      }
      /*--------------------------*/
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000738e8;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: 1.8s ease;
      animation-name: fade-out;
      animation-duration: 1.8s;
    }
  
    .container:hover .overlay {
      height: 100%;
      cursor: pointer;
      animation-name: fade-in;
      animation-duration: 2s;
    }
   /*------------------*/

  
  .slideText {
    /* position: absolute; */
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);

  }
  .text{
      font-size: 27px;
      font-family:'Futura Std Condensed Light';
      color: #ffffff;
      line-height: 50px;
      letter-spacing: 5%;
      text-align: left;
  }
  
  .button{
      border-radius: 18px;
      border-style: solid;
      border-color: white;
      background-color: #ffc915;
      font-family: futura;
      color: black;
      font-size: 20px;
      padding: 10px 30px;
      line-height: 40px;
      letter-spacing: 0.8px;
      opacity: 100%;
      text-decoration: none;
  }
  
  .button:hover{
      background-color: #ffdf75;
      box-shadow: 0 3px #ffffffc5;
  }
  } 
/*-------------------------------------*/
/*-----------New Media ----------------*/

@media (max-width:685px) {
    /* *{
        border-width: 1px;
        border-color: blue;
        border-style: solid;
     } */
     .slideText text{
        margin-bottom: -8px;
        margin-right: 30px;
     }

    .text{
      font-size: 22px;
      font-family:'Futura Std Condensed Light';
      color: #ffffff;
      line-height: 40px;
      letter-spacing: 5%;
      text-align: left;
     
  }


  .button{
    border-radius: 16px;
    border-style: solid;
    border-color: white;
    background-color: #ffc915;
    font-family: futura;
    color: black;
    font-size: 14px;
    padding: 5px 15px;
    line-height: 30px;
    letter-spacing: 0.8px;
    opacity: 100%;
    text-decoration: none;
  }
  
  .button:hover{
    background-color: #ffdf75;
    box-shadow: 0 3px #ffffffc5;
  }
  
  }


/*-------------------------------------*/
/*-----------New Media ----------------*/

  
  @media (max-width:675px) {
    /* *{
        border-width: 1px;
        border-color: orange;
        border-style: solid;
     } */
     .slideText text{
        margin-bottom: -8px;
        margin-right: 30px;
     }

    .text{
      font-size: 20px;
      font-family:'Futura Std Condensed Light';
      color: #ffffff;
      line-height: 28px;
      letter-spacing: 5%;
      text-align: left;
     
  }


  .button{
    border-radius: 16px;
    border-style: solid;
    border-color: white;
    background-color: #ffc915;
    font-family: futura;
    color: black;
    font-size: 14px;
    padding: 5px 15px;
    line-height: 20px;
    letter-spacing: 0.8px;
    opacity: 100%;
    text-decoration: none;
  }
  
  .button:hover{
    background-color: #ffdf75;
    box-shadow: 0 3px #ffffffc5;
  }
  
}
