html{
    display: flex;
}

body{
    background-color:white;
    font-family: 'futura';
    font-size: 15px;
    font-style: normal;
    letter-spacing: 5%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.button{
    background-color: #002f6c;
    border-radius: 25px;
    color:#ffc915;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 15px 40px;

}

footer{
    font-size: 20px;
    padding:8px 0 15px 0;
    text-align: center;
}

header{
    color:#002f6c;
    text-align: center;
    padding:15px;
}

h1{
    padding-bottom: 13px;
}

h2{
    
    color: #002f6c;
    font-size: 20px;
    text-decoration: underline;
}
h3{
    font-size: 16px;
}

#info-section{
    display: block;
}
 
li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top:-10px;
    padding-top: 15px;

}

section{
    border-color: #002f6c;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 3px;
    
}

