
/*general*/
html{
    display: flex;
}

body{
    background-color:white;
    font-family: 'futura';
    font-size: 15px;
    font-style: normal;
    letter-spacing: 5%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.button{
    background-color: #002f6c;
    border-radius: 25px;
    color:#ffc915;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 15px 40px;

}

.button:hover{
    background-color: #265696;
    box-shadow: 0 3px #0118359a;
}

footer{
    font-size: 20px;
    padding: 8px 0 15px 0;
    text-align: center;
}

header{
    color:#002f6c;
    text-align: center;
    padding:15px;
}

h1{
    padding-bottom: 13px;
}

h2{
    
    color: #002f6c;
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    margin-left: 16px;
}


#info-section{
    display: block;
}
 
li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top:-10px;
    padding-top: 15px;
    line-height: 20px;

}

section{
    border-color: #002f6c;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 4px 25px 8px;
    
}

/*small/medium devices*/
@media(max-width: 768px){ 
    .button{
       background-color: #002f6c;
       border-radius: 25px;
       color:#ffc915;
       margin-top: 15px;
       margin-bottom: 20px;
       padding: 15px 40px;
   }
   h3{
       font-size: 18px;
   }
   li{
    font-size: 18px;
    line-height: 25px;
    }
   section{
       border-color: #002f6c;
       border-width: 3px;
       border-style: solid;
       border-radius: 10px;
       margin: 10px;
       padding: 0 16px;  
   }
   .button:active{
       background-color: #265696;
       box-shadow: 0 3px #0118359a;
   }
}



